<ion-header>
  <ion-toolbar>
    <ion-title>Course 10</ion-title>

    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p class=MsoNormal style='margin-bottom:0in;line-height:14.25pt;background:
  white'><span style='font-size:10.5pt;font-family:Consolas;color:black'>1.1.4 Java Programming</span></p>

  <p class=MsoNormal><b>Reference from: Java Tutorial by Tutorials Point (n.d.)
  and Java Tutorial by Geeks for Geeks (2020)</b></p>
  
  <p class=MsoNormal><b>What is Java?</b></p>
  
  <p class=MsoNormal>Java is a popular programming language, created in 1995. It
  is owned by Oracle, and more than 3 billion devices run Java. Java is fast,
  reliable and secure. From desktop to web applications, scientific
  supercomputers to gaming consoles, cell phones to the Internet, Java is used in
  every nook and corner.</p>
  
  <p class=MsoNormal>Java is easy to learn and its syntax is simple and easy to
  understand. It is based on C++ (so easier for programmers who know C++). Java
  has removed many confusing and rarely-used features e.g. explicit pointers,
  operator overloading etc. Java also takes care of memory management and for
  that, it provides an automatic garbage collector. This collects the unused
  objects automatically.</p>
  
  <p class=MsoNormal><b><br>
  It is used for:</b></p>
  
  <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Mobile applications (specially Android apps)</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Desktop applications</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Web applications</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Web servers and application servers</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Games</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Database connection</p>
  
  <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>And much, much more!</p>
  
  <p class=MsoNormal><b>Why Use Java?</b></p>
  
  <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'>1.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Java
  works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'>2.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>It
  is one of the most popular programming language in the world</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'>3.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>It
  has a large demand in the current job market</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'>4.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>It
  is easy to learn and simple to use</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'>5.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>It
  is open-source and free</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'>6.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>It
  is secure, fast and powerful</p>
  
  <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'>7.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>It
  has a huge community support (tens of millions of developers)</p>
  
  <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'>8.<span
  style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Java
  is an object oriented language which gives a clear structure to programs and
  allows code to be reused, lowering development costs</p>
  
  <p class=MsoNormal>As Java is close to C++ and C#, it makes it easy for
  programmers to switch to Java or vice versa</p>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <p class=MsoNormal><b>Why to Learn Java?</b></p>
  
  <p class=MsoNormal>Java is a MUST for students and working professionals to
  become a great Software Engineer specially when they are working in Software
  Development Domain. If you will conduct a servey about the best programming
  language, Java is sure to come up.</p>
  
  <p class=MsoNormal>Java is fairly easy to learn, so if you are starting to
  learn any programming language then Java could be your great choice. There's
  also plenty of Java tools that make it easy for developers and beginners to
  use. There are many other good reasons which makes Java as the first choice of
  any programmer:</p>
  
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal>Java is Open Source which means its available free of
       cost.</li>
   <li class=MsoNormal>Java is simple and so easy to learn</li>
   <li class=MsoNormal>Java is much in demand and ensures high salary</li>
   <li class=MsoNormal>Java has a large vibrant community</li>
   <li class=MsoNormal>Java has powerful development tools</li>
   <li class=MsoNormal>Java is platform independent</li>
  </ul>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <p class=MsoNormal><b>Java Applications</b></p>
  
  <p class=MsoNormal>The latest release of the Java Standard Edition is Java SE
  18. With the advancement of Java and its widespread popularity, multiple configurations
  were built to suit various types of platforms. For example: J2EE for Enterprise
  Applications, J2ME for Mobile Applications.</p>
  
  <p class=MsoNormal>The new J2 versions were renamed as Java SE, Java EE, and
  Java ME respectively. Java is guaranteed to be&nbsp;<b>Write Once, Run Anywhere.</b></p>
  
  <ul style='margin-top:0in' type=disc>
   <li class=MsoNormal><b>Multithreaded</b>&nbsp;&#8722; With Java's
       multithreaded feature it is possible to write programs that can perform
       many tasks simultaneously. This design feature allows the developers to
       construct interactive applications that can run smoothly.</li>
   <li class=MsoNormal><b>Interpreted</b>&nbsp;&#8722; Java byte code is
       translated on the fly to native machine instructions and is not stored
       anywhere. The development process is more rapid and analytical since the
       linking is an incremental and light-weight process.</li>
   <li class=MsoNormal><b>High Performance</b>&nbsp;&#8722; With the use of
       Just-In-Time compilers, Java enables high performance.</li>
   <li class=MsoNormal><b>Distributed</b>&nbsp;&#8722; Java is designed for the
       distributed environment of the internet.</li>
   <li class=MsoNormal><b>Dynamic</b>&nbsp;&#8722; Java is considered to be more
       dynamic than C or C++ since it is designed to adapt to an evolving
       environment. Java programs can carry extensive amount of run-time
       information that can be used to verify and resolve accesses to objects on
       run-time.</li>
  </ul>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <p class=MsoNormal>Below is the complete guide as to how to get started with
  Java and make yourself proficient in it.</p>
  
  <ol style='margin-top:0in' start=1 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/java-how-to-start-learning-java/"
       target="_blank"><span style='font-weight:normal'>About Java</span></a>:</b>&nbsp;Before
       taking your step, the most important thing to do is to get the answer of
       all WHYs. Here it refers to the questions like WHAT IS JAVA, WHY IT IS
       POPULAR, WHAT ARE ITS FEATURES, etc etc. By digging into the mentioned
       article, you will not only learn the important things about Java but also
       you will understand how to start learning it.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/java-how-to-start-learning-java/"
  target="_blank"><span style='font-weight:normal'>How to start learning Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=2 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/jvm-works-jvm-architecture/"
       target="_blank"><span style='font-weight:normal'>Java Environment</span></a>:</b>&nbsp;To
       work on any programming language, one first needs to know about its
       environment. Environment refers to the circumstances where a programming
       language works and how that program works. Java runs on a JVM environment.
       Click on the mentioned article to know more about JVM, its architecture
       and how it works.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about JVM here:&nbsp;<a
  href="https://www.geeksforgeeks.org/jvm-works-jvm-architecture/" target="_blank"><span
  style='font-weight:normal'>JVM</span></a></b></p>
  
  <ol style='margin-top:0in' start=3 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/java-programming-basics/"
       target="_blank"><span style='font-weight:normal'>Java Programming Basics</span></a>:</b>&nbsp;To
       become proficient in any programming language, one Firstly needs to
       understand the basics of that language. Therefore, this article will give
       you in-depth knowledge of the basics of Java in a very simple format.</li>
  </ol>
  
  <p class=MsoNormal>By reading this article, you will get the to topics from how
  to set up the Java Environment to the details about its coding.</p>
  
  <p class=MsoNormal><b>Learn about Java Programming Basics here:&nbsp;<a
  href="https://www.geeksforgeeks.org/java-programming-basics/" target="_blank"><span
  style='font-weight:normal'>Java Programming Basics</span></a></b></p>
  
  <ol style='margin-top:0in' start=4 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/object-oriented-programming-oops-concept-in-java/"
       target="_blank"><span style='font-weight:normal'>Object Oriented
       Programming (OOPs) Concept in Java</span></a>:</b>&nbsp;Java is an
       object-oriented programming language. OOP makes the complete program
       simpler by dividing it into a number of objects. The objects can be used
       as a bridge to have data flow from one function to another. We can easily
       modify data and function as per the requirement. Hence learning about OOPs
       concepts makes a very important step in learning Java.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about OOPs concepts in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/object-oriented-programming-oops-concept-in-java/"
  target="_blank"><span style='font-weight:normal'>Object Oriented Programming
  (OOPs) Concept in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=5 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/classes-objects-java/" target="_blank"><span
       style='font-weight:normal'>Classes and Objects in Java</span></a>:</b>&nbsp;Classes
       and Objects are basic concepts of Object Oriented Programming which
       revolve around the real-life entities and Java Programming. It means that
       to implement anything in Java, Classes and objects are made. This article
       will give you an insight about Classes and Objects and also help you
       relate it to the real world.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Classes and Objects in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/classes-objects-java/" target="_blank"><span
  style='font-weight:normal'>Classes and Objects in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=6 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/constructors-in-java/" target="_blank"><span
       style='font-weight:normal'>Constructors in Java</span></a>:</b>&nbsp;In
       Order to efficiently use Classes and Objects, one needs to know about the
       Constructors in Java. Constructors are used to initialize the object's
       state. Like methods, a constructor also contains collection of
       statements(i.e. instructions) that are executed at time of Object
       creation.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Constructors in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/constructors-in-java/" target="_blank"><span
  style='font-weight:normal'>Constructors in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=7 type=1>
   <li class=MsoNormal><b><a href="https://www.geeksforgeeks.org/methods-in-java/"
       target="_blank"><span style='font-weight:normal'>Methods in Java</span></a>:</b>&nbsp;A
       method is a collection of statements that perform some specific task and
       return result to the caller. A method can perform some specific task
       without returning anything. Methods allow us to reuse the code without
       retyping the code. In Java, every method must be part of some class which
       is different from languages like C, C++ and Python. Methods are time
       savers and help us to reuse the code without retyping the code. This not
       only makes methods an important part of Java but also a must learn topic
       for learners.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Methods in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/methods-in-java/" target="_blank"><span
  style='font-weight:normal'>Methods in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=8 type=1>
   <li class=MsoNormal><b><a href="https://www.geeksforgeeks.org/strings-in-java/"
       target="_blank"><span style='font-weight:normal'>Strings in Java</span></a>:</b>&nbsp;Strings
       are defined as an array of characters. Java, unlike other programming
       languages, provides a very easy implementation of Strings which can be
       learnt even by a beginner. Hover over this mentioned article to learn in
       depth about the Strings in Java.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Strings in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/strings-in-java/" target="_blank"><span
  style='font-weight:normal'>Strings in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=9 type=1>
   <li class=MsoNormal><b><a href="https://www.geeksforgeeks.org/arrays-in-java/"
       target="_blank"><span style='font-weight:normal'>Arrays in Java</span></a>:</b>&nbsp;An
       array is a group of like-typed variables that are referred to by a common
       name. Arrays in Java work differently than they do in C/C++. To know more,
       refer the mentioned article.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Arrays in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/arrays-in-java/" target="_blank"><span
  style='font-weight:normal'>Arrays in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=10 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/collections-in-java-2/" target="_blank"><span
       style='font-weight:normal'>Collections in Java</span></a>:</b>&nbsp;A
       Collection is a group of individual objects represented as a single unit.
       Java provides Collection Framework which defines several classes and
       interfaces to represent a group of objects as a single unit. Java
       Collection Framework is not the most important part in learning Data
       Structures and Algorithms, but also it is the most useful module in a
       programming language</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Collections in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/collections-in-java-2/" target="_blank"><span
  style='font-weight:normal'>Collections in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=11 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/generics-in-java/" target="_blank"><span
       style='font-weight:normal'>Generics in Java</span></a>:</b>&nbsp;Generics
       in Java is similar to templates in C++. The idea is to allow type
       (Integer, String, etc and user-defined types) to be a parameter to
       methods, classes and interfaces. For example, classes like HashSet,
       ArrayList, HashMap, etc use generics very well. We can use them for any
       type. So not only Generics makes a very important asset in programming,
       but it also makes the backbone of writing efficient code as well.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Generics in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/generics-in-java/" target="_blank"><span
  style='font-weight:normal'>Generics in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=12 type=1>
   <li class=MsoNormal><b><a href="https://www.geeksforgeeks.org/stream-in-java/"
       target="_blank"><span style='font-weight:normal'>Stream In Java</span></a>:</b>&nbsp;Introduced
       in Java 8, the Stream API is used to process collections of objects. A
       stream is a sequence of objects that support various methods which can be
       pipelined to produce the desired result. Though this was introduced later
       in Java, it has gained huge importance in the Java programming very
       quickly. To be able to work on data fluently in Java, one must learn about
       the Streams.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Stream In Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/stream-in-java/" target="_blank"><span
  style='font-weight:normal'>Stream In Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=13 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/exceptions-in-java/" target="_blank"><span
       style='font-weight:normal'>Exceptions and Exception Handling in Java</span></a>:</b>&nbsp;Many
       a times in the learning of Java till now, you must have come across the
       word 'EXCEPTION'. An exception is an unwanted or unexpected event, which
       occurs during the execution of a program i.e at run time, that disrupts
       the normal flow of the program's instructions. So to develop a module that
       does not break, one has to learn how to handle exceptions.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Exceptions and Exception Handling in Java
  here:&nbsp;<a href="https://www.geeksforgeeks.org/exceptions-in-java/"
  target="_blank"><span style='font-weight:normal'>Exceptions and Exception
  Handling in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=14 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/regular-expressions-in-java/"><span
       style='font-weight:normal'>Regular Expressions (ReGex) in Java</span></a>:</b>&nbsp;Though
       this word might seem new to you, Regular Expression is a very important
       part of Development. Regular Expressions or Regex (in short) is an API for
       defining String patterns that can be used for searching, manipulating and
       editing text. It is widely used to define a constraint on strings such as
       a password.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Regular Expressions here:&nbsp;<a
  href="https://www.geeksforgeeks.org/regular-expressions-in-java/"><span
  style='font-weight:normal'>Regular Expressions (ReGex) in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=15 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/multithreading-in-java/"
       target="_blank"><span style='font-weight:normal'>Multithreading in Java</span></a>:</b>&nbsp;Multithreading
       is a Java feature that allows concurrent execution of two or more parts of
       a program for maximum utilization of CPU. Each part of such a program is
       called a thread. So, threads are light-weight processes within a process.
       Though this might seem difficult at first, its a very important part of
       concurrent programming in Java.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Multithreading in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/multithreading-in-java/" target="_blank"><span
  style='font-weight:normal'>Multithreading in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=16 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/file-handling-in-java-with-crud-operations/"
       target="_blank"><span style='font-weight:normal'>File Handling in Java</span></a>:</b>&nbsp;Java
       too supports file handling and allows users to handle files i.e., to read
       and write files, along with many other file handling options, to operate
       on files. The concept of file handling has stretched over various other
       languages, but the implementation is either complicated or lengthy, but
       alike other concepts of Java, this concept here is also easy and short.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about File Handling in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/file-handling-in-java-with-crud-operations"
  target="_blank"><span style='font-weight:normal'>File Handling in Java</span></a></b></p>
  
  <ol style='margin-top:0in' start=17 type=1>
   <li class=MsoNormal><b><a
       href="https://www.geeksforgeeks.org/packages-in-java/" target="_blank"><span
       style='font-weight:normal'>Packages in Java</span></a>:</b>&nbsp;Package
       in Java is a mechanism to encapsulate a group of classes, sub packages and
       interfaces. In other words, a package in Java refers to a collection of
       classes, interfaces, abstract classes, and exceptions that will help in a
       module in Java programming.</li>
  </ol>
  
  <p class=MsoNormal><b>Learn about Packages in Java here:&nbsp;<a
  href="https://www.geeksforgeeks.org/packages-in-java/" target="_blank"><span
  style='font-weight:normal'>Packages in Java</span></a></b></p>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <h1>References</h1>
  
  <p class=MsoBibliography style='margin-left:.5in;text-indent:-.5in'>GeeksforGeeks. (2020, July 4). <i>Java Tutorial</i>. Retrieved October 2022, from
  geeksforgeeks.org: https://www.geeksforgeeks.org/java-tutorial/?ref=lbp</p>
  
  <p class=MsoBibliography style='margin-left:.5in;text-indent:-.5in'>TutorialsPoint.
  (n.d.). <i>Java Tutorial</i>. Retrieved October 2022, from tutorialspoint.com:
  https://www.tutorialspoint.com/java/index.htm</p>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <p class=MsoNormal>&nbsp;</p>
  
  <p class=MsoNormal>&nbsp;</p>
</ion-content>
