<ion-header>
  <ion-toolbar>
    <ion-title>Course 12</ion-title>

    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p class=MsoNormal style='margin-bottom:0in;line-height:14.25pt;background:
white'><span style='font-size:10.5pt;font-family:Consolas;color:black'>1.1.6 Website Development</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Reference from: 'Website Development' by
    Tutorials Point (n.d.) and 'What Is Web Development?' by Code Academy (2022).</span></b></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Web development</span></b><span
    style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;refers
    to building website and deploying on the web. Web development requires use of scripting
    languages both at the server end as well as at client end.</span></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Web development process includes all the steps that
    are good to take to build an attractive, effective and responsive website.
    These steps are Deciding the purpose, Planning, Designing, Gather Content,
    Building, Testing, Upload to server, and Marketing &amp; Maintenance. <br>
    <br>
    </span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Web development tools</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Web development tools helps the developer to test and
    debug the web sites. Now a days the web development tooll come with the web
    browsers as add-ons. All web browsers have built in tools for this purpose.</span></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Thsese tools allow the web developer to use HTML, CSS
    and JavaScript etc.. These are accessed by hovering over an item on a web page
    and selecting the 'Inspect Element' from the context menu.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Features</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Following are the common featuers that every web
    development tool exhibits:</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>HTML and the DOM</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>HTML and DOM viewer allows you to see the DOM as it
    was rendered. It also allows to make changes to HTML and DOM and see the
    changes reflected in the page after the change is made.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Web Page Assests, Resources, and Network
    Information</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Web development tools also helps to inspect the
    resources that are loaded and available on the web page.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Profiing and Auditing</span></b></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Profiling</span></b><span
    style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;refers
    to get information about the performance of a web page or web application
    and&nbsp;<b>Auditing</b>&nbsp;provides developers suggestions, after analyzing
    a page, for optimizations to decerease page load time and increase
    responsiveness.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Skills Required</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>For being a successful web developer, one should
    possess the following skills:</span></p>
    
    <ul style='margin-top:0in' type=disc>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Understanding of client and server side
         scripting.</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Creating, editing and modifying templates for a
         CMS or web development framework.</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Testing cross browser inconsistencies.</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Conducting observational user testing.</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Testing for compliance to specified standards
         such as accessibility standards in the client region.</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Programming interaction with javaScript, PHP, and
         Jquery etc.</span></li>
    </ul>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Web development resources and tools</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Web Developers use various resources, frameworks,
    tools, and software packages to make their lives easier throughout the
    development process. Here are a few of the most common:</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Web design:</span></b></p>
    
    <ul style='margin-top:0in' type=disc>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>WordPress</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Photoshop</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>InDesign</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Sketch</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Google Web Designer</span></li>
    </ul>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Front-end web development:</span></b></p>
    
    <ul style='margin-top:0in' type=disc>
     <li class=MsoNormal><a
         href="https://www.codecademy.com/learn/learn-bootstrap?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
         style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
         color:windowtext'>Bootstrap</span></a></li>
     <li class=MsoNormal><a
         href="https://www.codecademy.com/learn/learn-angularjs?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
         style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
         color:windowtext'>AngularJS</span></a></li>
     <li class=MsoNormal><a
         href="https://www.codecademy.com/learn/react-101?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
         style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
         color:windowtext'>React</span></a></li>
     <li class=MsoNormal><a
         href="https://www.codecademy.com/learn/learn-sass?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
         style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
         color:windowtext'>Sass</span></a></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Sublime Text</span></li>
    </ul>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Back-end web development:</span></b></p>
    
    <ul style='margin-top:0in' type=disc>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>MySQL</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Apache</span></li>
     <li class=MsoNormal><a
         href="https://www.codecademy.com/resources/blog/product-manager-mongodb/?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
         style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
         color:windowtext'>MongoDB</span></a></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Laravel</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Docker</span></li>
    </ul>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Website and web application testing</span></p>
    
    <ul style='margin-top:0in' type=disc>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Selenium</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Katalon</span></li>
     <li class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
         "Times New Roman",serif'>Ranorex</span></li>
    </ul>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>If you're interested in specializing in web
    development, we recommend that you look into some of these tools and resources
    to help deepen your knowledge and build up your skill set.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Why web development is important</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>It wasn't too long ago that companies thought their
    web presence was peripheral to their day-to-day business. Today, they rely on
    their websites to attract new customers and communicate with existing ones.</span></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Still, business owners want to focus on their actual
    products and services rather than building and managing their websites. That's
    why web development is so important. Professional Web Developers provide an essential
    service to businesses and organizations for a few reasons.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Web Developers are specialists</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Is it possible for a small business owner or marketing
    professional to learn about web development? Absolutely. But, building and
    maintaining a good website today takes a lot of time and skill. As more people
    realize this, Web Developers are becoming more and more in demand.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Web Developers keep up with the latest
    tools</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Not only are Web Developers trained in today's web
    development tools, but they're always learning the newest ones because, well,
    that's their job. And, with programming and development tools constantly
    evolving, keeping up with the latest in web development is a full-time job.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Companies can make the most of their
    websites</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>A company website can be used as a tool for inventory
    management, payment processing, marketing campaigns, customer service, business
    intelligence gathering, and much more. A website that's built and maintained by
    professional Web Developers is more likely to collect relevant information to
    help improve customer experience and increase sales.</span></p>
    
    <p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
    font-family:"Times New Roman",serif'>Ready to start your new career in web
    development?</span></b></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>The exciting world of web development is changing
    every day, but one thing is clear: Web Developers are in demand now. Companies
    all over the world want Web Developers, and they're&nbsp;</span><a
    href="https://www.codecademy.com/resources/blog/developer-salaries/?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
    style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
    color:windowtext'>willing to pay for talented Web Developers</span></a><span
    style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;
    people like you.</span></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>Now that you know all about the basics of web
    development, it's time to take the next step in your new career as a Web
    Developer. Whether you want to become a&nbsp;</span><a
    href="https://www.codecademy.com/learn/paths/front-end-engineer-career-path?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
    style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
    color:windowtext'>Front-End Developer</span></a><span style='font-size:12.0pt;
    line-height:107%;font-family:"Times New Roman",serif'>,&nbsp;</span><a
    href="https://www.codecademy.com/learn/paths/back-end-engineer-career-path?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
    style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
    color:windowtext'>Back-End Developer</span></a><span style='font-size:12.0pt;
    line-height:107%;font-family:"Times New Roman",serif'>, or&nbsp;</span><a
    href="https://www.codecademy.com/learn/paths/full-stack-engineer-career-path?utm_source=ccblog&amp;utm_medium=ccblog&amp;utm_campaign=ccblog&amp;utm_content=cw_what_is_web_development_blog"><span
    style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
    color:windowtext'>Full-Stack Developer</span></a><span style='font-size:12.0pt;
    line-height:107%;font-family:"Times New Roman",serif'>, now is a great time to
    get started.<br>
    <br>
    <br>
    </span></p>
    
    <h1><span style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif;
    color:windowtext'>References</span></h1>
    
    <p class=MsoBibliography style='margin-left:.5in;text-indent:-.5in'>Code
    Academy. (2022, March 1). <i>What Is Web Development?</i> Retrieved October
    2022, from codecademy.com:
    https://www.codecademy.com/resources/blog/what-is-web-development/</p>
    
    <p class=MsoBibliography style='margin-left:.5in;text-indent:-.5in'>Tutorials
    Point. (n.d.). <i>Website Development</i>. Retrieved October 2022, from tutorialspoint.com:
    https://www.tutorialspoint.com/internet_technologies/websites_development.htm</p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
    "Times New Roman",serif'>&nbsp;</span></p>
    
</ion-content>
