<ion-header>
  <ion-toolbar>
    <ion-title>Course 7</ion-title>

    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p class=MsoNormal style='margin-bottom:0in;line-height:14.25pt;background:
white'><span style='font-size:10.5pt;font-family:Consolas;color:black'>1.1.1
Python Programming</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'><br>
Reference from: <i>'What is Python: An Intro to a Cross-Platform Programming
Language'</i> by Donat (2015) and <i>'What is Python?' by OpenSource.com (n.d.)</i></span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Python Course</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'></span></b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Python is a cross-platform scripting
language that runs on various platforms, including Windows, macOS, and Linux.
Additionally, it has been adapted for Java and.NET virtual machines. It is both
free and open-source. Python is a widely-used, general-purpose programming
language that may be applied to several tasks (Opensource.com, n.d.). It offers
high-level data structures, dynamic typing, dynamic binding, and other
characteristics that make it ideal for scripting and &quot;glue
programming&quot; connecting components. It can also be expanded to make system
calls on virtually all operating systems and execute C or C++ programs. Python
is a universal programming language due to its widespread use and ability to
run on practically every system architecture. It is utilized in many
applications.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Even though Python is pre-installed on most
modern Linux and Mac computers, the version may be outdated. Therefore, it is
always advisable to install the most recent version.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>About Python</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Guido van Rossum created Python in the
late 1980s has advanced as an open-source programming language by controlling
public discourse through Python Enhancement Proposals (PEPs). In 2018, van
Rossum resigned as the language's Benevolent Dictator For Life (BDFL), and following
PEP 13, a steering council was established to serve as the language's leader (Donat, 2015).</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>The Python Software Foundation (PSF) is a
501(c)(3) non-profit organization that owns the programming language Python's
intellectual property rights. This comprises Python 2.1 and beyond, the Python
Package Index (PyPI), the CPython reference implementation, and the
infrastructure required to maintain the language. In addition to providing
scholarships for software craftsmanship, the PSF hosts many PyCon conferences
annually.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Python is now on its third major release
and is updated often.</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Python, is it open source?</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Yes, all recent versions of Python are
protected under an Open Source Initiative-approved GPL-compatible license. The
Python logo is trademarked. However, customization is permitted (see the full
license for details).</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Here you can obtain Python's source </span><a
href="https://www.python.org/downloads/source/"><span style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:windowtext'>code</span></a><span
style='font-size:12.0pt;font-family:"Times New Roman",serif'>.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>The Easiest Way to Run Python - Install
Python Separately</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>If you don't want to use Thonny, here's
how you can install and run Python on your computer.</span></p>

<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>Download the&nbsp;</span><a
     href="https://www.python.org/downloads/"><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif;color:windowtext'>latest version of Python</span></a><span
     style='font-size:12.0pt;font-family:"Times New Roman",serif'>.</span></li>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>Run the installer file and follow the
     steps to install Python<br>
     During the installation process, check&nbsp;Add Python to environment
     variables. This will add Python to environment variables, and you can run
     Python from any part of the computer.<br>
     <br>
     Also, you can choose the path where Python is installed.</span></li>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>Once you finish the installation
     process, you can run Python.</span></li>
</ol>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Your first Python Program</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Now that Python is operational, we can
write our initial Python application.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Let's construct a program with the name
Hello World. A &quot;Hello, World!&quot; is a straightforward program that
displays &quot;Hello, World!&quot; on the screen. Due to its simplicity, this
program is frequently used to introduce newcomers to a new programming
language.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Enter the code below into any text editor
or IDE and save the file as hello_world.py.</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>print(&quot;Hello, world!&quot;)</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'><br>
Run the file, then. You will receive the output shown below.</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&gt;&gt;Hello, world!</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Kudos! You have just written your first
Python program.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Clearly, this was a relatively simple
process. This is the brilliance of Python programming.</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Identifiers and Keywords in Python</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>This course will teach you
about keywords (Python's reserved words) and identifiers (names given to
variables, functions, etc.).</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Python Keywords</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Keywords are Python's reserved
words. We cannot use a keyword as the name of a variable, function, or identifier.
They describe the syntax and organization of the Python programming language.
In Python, keyword case sensitivity applies. In Python 3.7, 33 keywords are
supported. This quantity can fluctuate slightly over time. All the keywords
except True, False, and None must be written in lowercase and precisely as they
appear. The whole list of keywords is provided below.</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=647
 style='width:485.6pt;background:#F8FAFF;border-collapse:collapse'>
 <tr style='height:18.8pt'>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>False</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>await</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>else</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>import</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>pass</span></b></p>
  </td>
 </tr>
 <tr style='height:18.8pt'>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>None</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>break</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>except</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>in</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>raise</span></b></p>
  </td>
 </tr>
 <tr style='height:18.8pt'>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>True</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>class</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>finally</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>is</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>return</span></b></p>
  </td>
 </tr>
 <tr style='height:19.65pt'>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:19.65pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>and</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:19.65pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>continue</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:19.65pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>for</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:19.65pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>lambda</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:19.65pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>try</span></b></p>
  </td>
 </tr>
 <tr style='height:18.8pt'>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>as</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>def</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>from</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>nonlocal</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>while</span></b></p>
  </td>
 </tr>
 <tr style='height:18.8pt'>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>assert</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>del</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>global</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>not</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>with</span></b></p>
  </td>
 </tr>
 <tr style='height:18.8pt'>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>async</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>elif</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>if</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>or</span></b></p>
  </td>
  <td style='padding:9.0pt .25in 9.0pt .25in;height:18.8pt'>
  <p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>yield</span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Attempting to decipher the meaning of all
the keywords at once could be overwhelming.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Here is a comprehensive list of all the
keywords with examples if you wish to gain an overview.</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Python Identifiers</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>A name assigned to entities such as
classes, functions, variables, etc., is called an identifier. It aids in
distinguishing one entity from another.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Standards for composing identifiers</span></p>

<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>Identifiers may consist of a
     combination of lowercase (a to z) or capital (A to Z) characters, numerals
     (0 to 9), or underscore (_). Valid examples are myClass, var 1, and print
     this to the screen.</span></li>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>No identifier can begin with a
     number. 1variable is invalid, although variable1 is a valid name.</span></li>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>Keywords cannot be used as
     identifiers.</span></li>
</ol>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'> global = 1</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'> Output</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'> File &quot;&lt;interactive
input&gt;&quot;, line 1</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'> global = 1</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>^</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>SyntaxError: invalid syntax</span></b></p>

<ol style='margin-top:0in' start=4 type=1>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>The identification cannot contain
     special characters such as !, @, #, $, or %. a@ = 0</span></li>
</ol>

<p class=MsoNormal style='text-indent:.5in;line-height:normal'><b><span
style='font-size:12.0pt;font-family:"Times New Roman",serif'>a@ = 0</span></b></p>

<p class=MsoNormal style='text-indent:.5in;line-height:normal'><b><span
style='font-size:12.0pt;font-family:"Times New Roman",serif'><br>
 Output</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'> File &quot;&lt;interactive
input&gt;&quot;, line 1</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>a@ = 0</span></b></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>^</span></b></p>

<p class=MsoNormal style='text-indent:.5in;line-height:normal'><b><span
style='font-size:12.0pt;font-family:"Times New Roman",serif'>SyntaxError:
invalid syntax</span></b></p>

<ol style='margin-top:0in' start=5 type=1>
 <li class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
     font-family:"Times New Roman",serif'>5. An identifier's length is
     arbitrary.</span></li>
</ol>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Things to Remember</span></b></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'> Python is a case-sensitive
language. This implies that the variable and Variable are not identical. Always
give the identifiers meaningful names. While c = 10 is a legal variable name,
writing count = 10 would make more sense, and it would be easier to determine
what it represents after a lengthy absence. Using an underscore to separate
multiple words, such as this, is a long variable.</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<h1><b><span style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif;
color:windowtext'>References</span></b></h1>

<p class=MsoBibliography style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Donat,
W. (2015, November 11). <i>What is Python: An Intro to a Cross-Platform
Programming Language</i>. Retrieved October 2022, from atlantic.net:
https://www.atlantic.net/vps-hosting/what-is-python-intro-cross-platform-programming-language/</span></p>

<p class=MsoBibliography style='margin-left:.5in;text-indent:-.5in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Opensource.com.
(n.d.). <i>What is Python?</i> Retrieved October 2022, from opensource.com:
https://opensource.com/resources/python</span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>




</ion-content>
