<ion-header class="pages-header">
  <ion-toolbar>
    <ion-title>Token Balance</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <p>Tokens can be used for purchasing different products from us. Note: All transactions obtained from Lazatech Educate and Social media are all for testing first. The tokens obtained will not be transferred to XUMM wallet as the testing and development phase are ongoing. Once the testing phase is finished, all balances will be reset to zero. However, the respondents and beta testers will receive 10 LZT tokens from the year 2022 up to 2/24/2023 - 9:00 am, once the token is created in the XRP Ledger.</p>
        </ion-item>

        <ion-item>
          <ion-icon name="person-circle-outline" slot="start" size="large"></ion-icon>
          <ion-card-subtitle>{{user?.userName}}</ion-card-subtitle>
        </ion-item>

        <ion-item>
          <ion-icon name="wallet-outline" slot="start" size="large"></ion-icon>
          <ion-card-subtitle>Token Balance: {{user?.userToken}}.00</ion-card-subtitle>
        </ion-item>

        <!-- for testing purposes only -->
        <!-- <ion-item>
          <ion-button (click)="add()">Add Token</ion-button>
        </ion-item> -->

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
